.container{
    display:flex;
    justify-content:center;
    column-gap:10px;
}
.image-options{
    display:flex;
    flex-direction: column;
}
.image-display{
    display:flex;
    width:400px;
    flex-direction: column;
    row-gap:10px;
}
.cta-button{
    background-color:white;
    border:0px;
    width: 300px;
    height: 40px;
    font: 1rem;
}
.aligned{
    display:flex;
    align-items:center;
}
.green{
    background-color: rgb(0, 128, 73);
}
@media(max-width:700px){
    .container{
        flex-direction: column-reverse;
        align-items: center;
    }
}